# Resource group name
resource_group="aml-enterprise"

# Resource name prefix
prefix="aml"

# Deployment location
location="Australia East"

# Friendly Workspace name
workspace_display_name="aml-enterprise"

# Jumpbox login credentials
jumphost_username="azureuser"
jumphost_password="ThisIsNotVerySecure!"

# Deploy Azure Kubernetes Cluster
deploy_aks=false